/*Mobile */
@media (max-width: 600px) {
    nav button {
        padding: 7px 11px;
        font-size: 0.9rem;
    }

.color-boxes div,
.number-boxes div,
.animal-boxes div,
.shape-boxes div {
      width: 70%;
      margin: 5px auto;
      display: block;
}
}

/*Tablet */
@media (min-width: 600px) and (max-width: 1020px) {
.color-boxes div,
.number-boxes div,
.animal-boxes div,
.shape-boxes div {
    width: 40%;
    margin: 10px;
}
}

/*Deskopt */
@media (min-width: 1020px) {
.color-boxes div,
.number-boxes div,
.animal-boxes div,
.shape-boxes div {
    width: 20%;
    margin: 10px;
}
}
