*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'comic San MS', cursive;
}

body {
background-color: yellow;
font-family: 'comic San MS' , cursive;
}

header {
    background-color: aqua;
    padding: 20px;
    text-align: center;
}
nav p {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

nav button {
    margin: 5px;
    padding: 10px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: blue;
    color: aliceblue;
}

nav button:hover {
    background-color: aliceblue;
}

section {
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: aqua;
    max-width: 900px;
}

section h2 {
    margin-bottom: 10px;
}

.color-boxes div,
.number-boxes div,
.animal-boxes div,
.shape-boxes div {
    display: inline-block;
    width: 145px;
    height: 100px;
    margin: 10px;
    line-height: 100px;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-yellow { background-color: yellow; color: yellow; }
.color-green { background-color: green; color: green;}
.color-purple { background-color: purple; color: purple;}
.color-orange { background-color: orange; color: orange;}

.number-boxes div,
.shape-booxes div {
    background-color: aqua;
    color: white;
}

.animal-boxes div {
    background-color: aliceblue;
    color: white;
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 200px;
    line-height: normal;
}

.animal-boxes div img {
    width: 90px;
    height: 110px;
    object-fit: cover;
    border-radius: 5px;
}

.color-boxes div:hover,
.number-boxes div:hover,
.shape-boxes div:hover,
.animal-boxes div:hover {
    transform: scale(1.1);
}

#topBtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 10px 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: aqua;
    color: white;
    display: none;
}

/*shapes */
.shape-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;

}

.shape-boxes div {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    transition: transform 0.3s;
}

.shape-square {
    width: 120px;
    height: 120px;
    background-color: green;
}

.shape-rectangle {
    width: 180px;
    height: 100px;
    background: blueviolet;
}

.shape-circle {
    width: 120px;
    height: 120px;
    background: yellow;
    border-radius: 50%;
    color: black;
}

.shape-triangle {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid orange;
    position: relative;
}
.shape-triangle::after {
    content: "Triangle";
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translatex(-50%);
    color: black;
    font-weight: bold;
}

.shapes-boxes div:hover {
    transform: scale(1.1);
}
