body{
font-family: arial, sans-serif;
margin: 0;
padding: 0;
background-color: lightblue;
}
.navbar {
   background-color: #333;
  padding: 15px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar a {
  color: green;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: lightgreen;
  text-decoration: underline;
}

.page {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.page h1 {
  margin-bottom: 20px;
  color: #333;
}

.page-img {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.page p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

